<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>

<div class="movie">
  <video id="video01" poster="" autoplay muted playsinline controls metadata width="100%">
    <source src="https://itsakura.com/wp-content/uploads/2018/03/test1.mp4" type="video/webm">
    <p>動画が表示されない際のメッセージ.</p>
  </video>
</div>

<div class="movie">
  <video id="video02" poster="" muted playsinline controls metadata width="100%" style="display: none;">
    <source src="https://itsakura.com/wp-content/uploads/2018/03/test1.mp4" type="video/webm">
    <p>動画が表示されない際のメッセージ.</p>
  </video>
</div>

<script>
　$(function () {
    var video01 = document.getElementById("video01");
    var video02 = document.getElementById("video02");
    // video01の再生が終わった場合
    video01.addEventListener("ended", function () {
      $(this).hide();
      $(video02).show();
      video02.play();
    });
  
    // video02の再生が終わった場合
    video02.addEventListener("ended", function () {
      $(this).hide();
      $(video01).show();
      video01.play();
    });
  });
</script>

<script>
　$(function () {
    var video01 = document.getElementById("video01");
    // video01の再生が終わった場合
    video01.addEventListener("ended", function () {
      $(this).hide();
      $(video02).show();
      video02.play();
    });
  
    // video02の再生が終わった場合
    video02.addEventListener("ended", function () {
      $(this).hide();
      $(video01).show();
      video01.play();
    });
  });
</script>